#if 0
// Neutral (Sys. Default) resources
LANGUAGE LANG_NEUTRAL, SUBLANG_SYS_DEFAULT
#pragma code_page(1257)


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004b0"
        BEGIN
            VALUE "CompanyName", "Ahti Legonkov"
            VALUE "FileDescription", "DirectInput plugin for WinLIRC"
            VALUE "FileVersion", "1.0.0.1"
            VALUE "InternalName", "directinput.dll"
            VALUE "LegalCopyright", "Copyright © 2015"
            VALUE "OriginalFilename", "directinput.dll"
            VALUE "ProductName", "DirectInput plugin"
            VALUE "ProductVersion", "1.0.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1200
    END
END
#endif
